body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  position: relative;
  width: 100%;

  canvas {
    outline: none;
  }
}

#ui {
  bottom: 40px;
  color: white;
  font-size: 21px;
  pointer-events: none;
  position: fixed;
  left: 40px;
}

.tp-dfwv {
  width: 400px !important;
}

#instructions {
  color: white;
  left: 0;
  padding: 40px 0 0 40px;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 50%;

  p {
    font-size: 18px;
    line-height: 1.4;
    margin: 0 0 0.6em;
  }

  ol {
    margin: 0;
    padding: 0;
  }

  li {
    line-height: 1.4;
    margin-bottom: 0.2em;
  }
}

#credits {
  bottom: 0;
  color: white;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  padding: 0 40px 40px 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  text-align: right;

  a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
}
